.DS_Store
build/
.idea/
*.iml
.gradle/
.gradletasknamecache
gradle.properties
*.java
!java-sdk/radar-schemas-validator/**/*.java
java-sdk/radar-schemas-validator/build
java-sdk/radar-schemas-validator/out
