<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d] %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="WEB" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d] HTTP  - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="AUTH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d] AUTH  - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.radarbase.jersey.filter.ResponseLoggerFilter" level="INFO" additivity="false">
        <appender-ref ref="WEB" />
    </logger>

    <logger name="org.radarbase.jersey.auth.Auth" level="INFO" additivity="false">
        <appender-ref ref="AUTH" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
